* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black; /*cor de fundo da tela*/
    color:#F6F6F6; /*cor da fonte do texto*/
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}
