@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%; /* top,right,bot,left */
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #007bff;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black; /*cor de fundo da tela*/
    color:#F6F6F6; /*cor da fonte do texto*/
    
}

.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 8% 15%;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__titulo__destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*
/*todas as tags 'a' dentro da classe especificada
.apresentacao__conteudo__links a {
    background-color: #22D4FD;
    width: 280px; /*largura
    text-align: center; /*alinha apenas o texto
    border-radius: 16px; /*insere um arredondamento na borda
    font-size: 24px; /*tamanho da fonte
    padding-top: 21.5px 0; /*quando usamos dois valores, serão alterados, altura e largura (nesta ordem)
    text-decoration: none; /*remove todos os estilos predefinidos
    color:black;
    font-family: 'Krona one', sans-serif;    
}
*/


.apresentacao__conteudo__links__botao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid #22D4FD;
    width: 280px; /*largura*/
    text-align: center; /*alinha apenas o texto*/
    border-radius: 16px; /*insere um arredondamento na borda*/
    font-size: 24px; /*tamanho da fonte*/
    padding: 21.5px 0; /*quando usamos dois valores, serão alterados, altura e largura (nesta ordem)*/
    text-decoration: none; /*remove todos os estilos predefinidos*/
    /* color:black; */
    color: white;
    font-family: 'Krona one', sans-serif;
    font-size: 24px;
}

.apresentacao__conteudo__links__botao:hover { /*ao passar o mouse o codigo abaixo sera ativado */
    background-color: #272727;
}

.apresentacao__conteudo__links__subtitulo {
    font-family: 'Krona one', sans-serif;
    font-weight: 400;
}

.apresentacao__imagem {
    max-width:750px;
    max-height:500px;
    width: auto;
    height: auto;
}

.rodape {
    text-align: center;
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400px;
}



